<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<title>Edit User</title>
</head>

<body>

<div layout:fragment="page_content">	
	<form action="#" th:action="@{/user/edituser}" th:object="${user}" method="post">
	<div class="row">
		<div class="col-xl-8 col-lg-7">
		<div class="card">
			<div class="card-header py-3">
				<h6 class="m-0">User Information</h6>
			</div>
			<div class="card-body">
				
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<label for="firstName">First Name:</label>
						<input type="text" th:field="*{firstName}" id="firstName" class="form-control">
					</div>
					<div class="col-sm-6 mb-3 mb-sm-0">
						<label for="lastName">Last Name:</label>
						<input type="text" th:field="*{lastName}" id="lastName" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label for="birthday">Birthday</label>
					<input type="date" class="form-control" th:field="*{birthday}"id="birthday">
				</div>
				
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<label for="city">City:</label>
						<input type="text" th:field="*{city}" id="city" class="form-control">
					</div>
					<div class="col-sm-6 mb-3 mb-sm-0">
						<label for="Country">Country:</label>
						<input type="text" th:field="*{country}" id="country" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label for="email">Email:</label>		
					<input type="text" th:field="*{email}" id="email" class="form-control">
				</div>
						
				<input type="submit" value="Update User" class="btn btn-primary">
			
			</div>
		</div>
		</div>
	</div>
	</form>
	
	
</div>

</body>
</html>