<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<div th:fragment="membershipsFrg">

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0">Conversations I'm in</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
			<table class="table" id="dataTable">
				<thead class="thead-light">
					<tr>
						<th>Subject</th>
						<th>Member Since</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="m : ${memberConversations}">
						<td><a th:href="@{/user/loadconversation/{id}(id=${m.conversation.conversationId})}"><span th:text="${m.conversation.subject}"></span></a></td>
						<td><span th:text="${#dates.format(m.memberSince, 'dd/MM/yyyy')}"></span></td>
					</tr>
				</tbody>
				</table>
			</div>	

		</div>		
	</div>	
</div>

</body>
</html>