<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<title>Invitations</title>
</head>

<body>

<div layout:fragment="page_content">

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0">My Invitations</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
			<table class="table" id="dataTable">
				<thead class="thead-light">
					<tr>
						<th>Conversation</th>
						<th>Created By</th>
						<!-- <th>Received On</th> -->
						<th colspan="2">Options</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i : ${invitations}">
						<td><span th:text="${i.conversation.subject}"></span></td>
						<td><span th:text="${i.conversation.user.username}"></span></td>
						<!-- <td><span th:text="${#dates.format(i.dateSent, 'dd/MM/yyyy')}"></span></td> -->
						<td><a th:href="@{/user/acceptInvitation/{invitation}(invitation=${i.membershipId})}" class="btn btn-success">Accept</a></td>
						<td><a th:href="@{/user/refuseInvitation/{invitation}(invitation=${i.membershipId})}" class="btn btn-danger">Reject</a></td>
					</tr>
				</tbody>
				</table>
			</div>	
		</div>
	</div>

</div>

</body>
</html>