<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<title>Next Releases</title>
</head>

<body>

<div layout:fragment="page_content">
	<h1 class="h3 mb-2 text-gray-800">Next Releases</h1>
	<div class="card shadow mb-4">
		<div class="card-body">
			<p>I really hope you enjoyed Message Buddy! This is a project in development and therefore it has new features to come!</p>
			<ul>
				<li>Email verification.</li>
				<li>Image cropper, so you can upload your conversation and profile pictures.</li>				
				<li>Notification system. So you're notified when you get:
					<ul>
						<li>New messages.</li>
						<li>New members in the conversation.</li>
						<li>New invitations.</li>
					</ul>
				</li>				
			</ul>
		</div>		
	</div>
</div>

</body>
</html>