<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Message Buddy</title>

<script src="https://kit.fontawesome.com/757efd2936.js"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" />

</head>

<body id="page-top">

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/user/index}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Message Buddy</div>
			</a>

			<hr class="sidebar-divider my-0">

			<li class="nav-item active">
				<a class="nav-link" th:href="@{/user/allconversations}">
					<i class="fas fa-comments"></i>
					Conversations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/user/notifications}">
					Notifications
				</a>
			</li>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">Administrator</div>

				<li class="nav-item">
					<a class="nav-link" href="charts.html">
						<span>Users</span>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="tables.html">
						<span>Groups</span>
					</a>
				</li>
			</div>

			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Topbar Navbar -->
					<ul class="navbar-nav" style="width: 100%;">

						<li id="sidebaralternative" class="nav-item dropdown no-arrow mr-auto">
							<a href="" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
								<i class="fas fa-laugh-wink"></i><div class="font-weight-bold h4 m-1">Message Buddy</div>
							</a>
							<div class="dropdown-menu dropdown-menu-left animate slideIn" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/user/allconversations}">
									<i class="fas fa-comments"></i>
									Conversations
								</a>
								<a class="dropdown-item" th:href="@{/user/notifications}">
									<i class="fas fa-exclamation-triangle"></i>
									Notifications
								</a>
							</div>
						</li>
						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow ml-auto">
							<div sec:authorize="isAuthenticated()">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span th:text="${currentUser.username}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
									<img class="img-profile rounded-circle" th:src="${currentUser.picturePath}">
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

									<a class="dropdown-item" th:href="@{/user/editcurrentuser}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Edit Info 
									</a>
									<div class="dropdown-divider"></div>

									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
					                	<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					                  	Logout
					                </a>
									
								</div>
							</div>
						</li>
					</ul>
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Content Row -->
					<div layout:fragment="page_content"></div>

				</div>

			</div>

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Template by <a href="https://startbootstrap.com/">Start Bootstrap</a></span>
					</div>
				</div>
			</footer>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">					
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<form action="#" th:action="@{/userLogout}" method="POST">
						<input type="submit" value="Logout" class="btn btn-primary" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>
